
#gameContainer {
    text-align: center;
}


#gameBoard{
    border:1px solid black;
}

#scoreText {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;

}

#resetBtn {
    cursor: pointer;
    font-size: 30px;
    width: 100px;
    height: 50px;
    border: 2px solid;
    border-radius: 15px;
   
}